@keyframes showcolor{
    from { 
        color: white;
        border-radius: 15px;
    }
    to {
        color: white;
        background-color: rgb(255,194,32);
        border-radius: 15px;
    }
}


.nav-link{
    color: black !important;
}


body{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo {
    height: 25%;
    width: 30%
}

#header_area {
    letter-spacing: 2px;
    background-image: linear-gradient(white,transparent);
    position: fixed;
    width: 100%;
    transition: top 0.3s;
}

.nav-link:hover{
    /* background-color: rgb(255, 194, 32);
    border-radius: 10px; */
    animation-name: showcolor;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.bginicial {
    min-height: 900px;
    display: flex;
    background: linear-gradient(rgba(3,1,10,0.5),rgba(3,1,10,0.5)),url("../img/bground.jpeg");
    background-size: auto, auto;
    background-size: cover;
}

.content {
    margin-top: 200px;
}