header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#about {
  /* background-image: url("assets/img/bg.jpg"); */
  background-image: url("https://images.pexels.com/photos/1366942/pexels-photo-1366942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
