.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    z-index: 2;
}

.masthead .content {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: skewX(-4deg);
    transform: skewX(-4deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.masthead .masthead-content h1 {
    font-size: 3rem;
    -webkit-transform: skewX(4deg);
    transform: skewX(4deg);
}

.masthead .masthead-content p {
    max-width: 400px;
    font-size: 1.2rem;
    -webkit-transform: skewX(4deg);
    transform: skewX(4deg);
}