* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #c8c8c8;
  max-width: 1700px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { width: 0 !important }

section {
  padding: 150px 0;
}

#about {
  background-image: url("../img/giphy.gif");
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  max-height: 700px;
  overflow-y: hidden;
}

#about p{
  font-size: 1.8em;
  max-width: 75vh;
}

#about h2{
  font-size: 3em;
}