@font-face {
    font-family: 'Montserrat';
    src: url('../webfonts/Montserrat-Regular.ttf')
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #c8c8c8;
    max-width: 1700px;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0 !important
}

section {
    padding: 150px 0;
}

.scrolled {
    background-color: #333 !important;
    transition: background-color 200ms linear;
}

#home {
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

@media screen and (min-width: 601px) {
    #home h1 {
        font-size: 60px;
        text-align: end;
    }
    #home p {
        float: right;
        font-size: 32px;
        max-width: 500px;
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    #home h1 {
        font-size: 56px;
    }
    #home p {
        font-size: 24px;
        text-align: justify
    }
}

#home .container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-width: 100%;
}

#about {
    min-height: 100vh;
    overflow-y: hidden;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "images" "txt";
}

#about .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/about.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    -webkit-transform: skewX(-4deg);
    transform: skewX(-4deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

#about .txt h2 {
    font-size: 2.3rem;
}

#about .txt p {
    max-width: 500px;
    font-size: 1.5rem;
}

#cards .header {
    display: grid;
    grid-template-columns: 1fr 5px;
    grid-template-rows: 1fr;
    grid-template-areas: "button" "title";
}

#cards .btn {
    font-size: 1rem;
    width: 250px;
    grid-area: button;
}

#cards .title {
    font-size: 2rem;
    grid-area: title;
}

@media(max-width: 700px) {
    #cards .header {
        grid-template-rows: 100px 20px;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "button";
    }
    #cards .btn {
        margin-right: auto;
    }
    #cards .title {
        font-size: 1.6rem;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        display: grid;
        grid-template-rows: 100px 100px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "social" "git";
    }
    footer .footer-logo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        grid-area: logo;
    }
    footer .footer-social {
        text-align: center;
        grid-area: social;
    }
    footer .footer-git {
        margin-left: auto;
        grid-area: git;
    }
}

footer .footer-social .fab {
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    margin-right: 30px;
}

footer .footer-social .fa-instagram:hover {
    color: #E1306C;
}

footer .footer-social .fa-google-plus:hover {
    color: #d34836;
}

footer .footer-social .fa-blogger-b:hover {
    color: #fb8f3d;
}

footer .footer-social .fa-linkedin-in:hover {
    color: #0077b5;
}

footer .footer-social .fa-youtube:hover {
    color: #ff0000;
}

footer .footer-social .fa-flickr:hover {
    color: #fff;
}

footer .footer-social .fa-twitter:hover {
    color: #38A1F3;
}

footer .footer-social .fa-facebook:hover {
    color: #3b5998;
}