body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    background-color: #F2F2F2;
  }
  
  * {
    box-sizing: border-box;
  }
  
  section {
    padding: 150px 0;
  }
  
  #about {
    background-image: url("./src/giphy.gif");
    background-size: 100% 100%;
    /*background-attachment: fixed;*/
  }
  
  #about p{
    font-size: 1em;
  }
  
  #about h2{
    font-size: 1.5em;
  }
  
  .react{
    height: 100%;
    background-color: aliceblue;
  }

  footer{
    margin-top: 100px;
  }