/* Cards */

.card {
    position: relative;
    color: black;
    cursor: pointer;
    margin-bottom: 60px;
    box-shadow: 0 5px 5px 2px #ccc;
    height: 400px;
}

.card h2 {
    position: static;
    font-size: 1.2em;
    letter-spacing: -1px;
}

.card img {
    width: 100%;
    height: 150px;
    position: relative;
}

.card-color-0 {
    background-color: #212529;
}

.card-color-1 {
    background-color: gray;
}

.card-color-2 {
    background-color: rgb(0, 0, 102);
}

/* The cover (expanding background) */

.cover {
    position: fixed;
    z-index: 100;
    transform-origin: 50% 50%;
}

/* The open page content */

.open-content {
    top : 0;
    height: 100vh;
    width: 100%;
    z-index: 110;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background: white;
    max-width: 1700px;
}

.open-content img {
    position: relative;
    width: 90%;
    margin-left: 3%;
    margin-top: 20px;
    z-index: 5;
    max-width: 1200px;
}

.open-content .text {
    background: #fff;
    margin-top: -56%;
    padding: 60% 5% 5% 5%;
    width: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.open-content .text h1, .open-content .text p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.close-content {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
}

.close-content span {
    background: #222;
    width: 30px;
    height: 6px;
    display: block;
    position: absolute;
    top: 14px;
}

.x-1 {
    transform: rotate(45deg);
}

.x-2 {
    transform: rotate(-45deg);
}

/* 
  ** Transitions
  */

.card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
    display: none;
    transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
    transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card h1 {
    transform: translate3d(20%, 0px, 0px);
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Clicked card */

.card.clicked img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
}

.card.clicked .border {
    opacity: 0;
    transform: scale(1.3);
}

.card.out, .card.out img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
}

.card.out h1, .card.clicked h1 {
    transform: translate3d(20%, -40px, 0px);
    opacity: 0;
}

.cover {
    transition: transform 300ms ease-in-out;
}

.open-content {
    transition: opacity 200ms linear 0ms;
}

.open-content.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
}

/* 
  ** Media Queries
  */

@media screen and (max-width: 600px) {
    .card-column {
        width: 90%;
    }
    .column-1 {
        padding-top: 0px;
    }
    .open-content img {
        margin-top: 40px;
    }
}