* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#about {
  background-image: url("../img/giphy.gif");
  background-size: 100% 100%;
  background-attachment: fixed;
}

#about p{
  font-size: 1em;
}

#about h2{
  font-size: 1.5em;
}
