* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #c8c8c8;
  overflow-x: hidden;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#about {
  background-image: url("../img/giphy.gif");
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
}

#about p{
  font-size: 1.8em;
  max-width: 75vh;
}

#about h2{
  font-size: 3em;
}