* {
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#about {
  background-image: url("../img/bg.jpg");
  background-size: cover;
}


